body {
    display: flex;
    flex-flow: wrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #adb7bd;
    height: 70px;
    flex: 1 0 100%;
}

aside {
    width: 300px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #adb7bd;
    padding: 10px;
    padding-top: 20px;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    text-transform: uppercase;
    text-align: center;
}

#todayEvents {
    padding-top: 50px;
}

#tomorrowEvents {
    padding-top: 50px;
}

section {
    padding: 20px;
    flex: 1 0;
}

hr {
    width: 100%;
    height: 30px;
    border-style: solid;
    border-color: hsla(0, 0%, 75%, 0.9);
    border-width: 1px 0 0 0;
    border-radius: 15px;
}

hr:before {
    content: '';
    display: block;
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: hsla(0, 0%, 75%, 0.9);
    border-width: 0 0 1px 0;
    border-radius: 15px;
}

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.7em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

button:hover {
    color: #000000;
    background-color: rgb(218, 220, 224);
}

.calendarWeek {
    display: flex;
}

#dayEvents {
    margin: 50px;
    visibility: hidden;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    text-transform: uppercase;
    text-align: center;
}

.singleEvent {
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-size: 1em;
    letter-spacing: .2em;
    line-height: 3em;
    text-transform: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.singleEventMembers {
    text-align: center;
}

.calendarDay {
    height: 50px;
    margin: 5px;
    display: flex;
    flex: 100%;
    flex-flow: column;
    justify-content: top;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(218, 220, 224);
    font-family: times, Times New Roman, times-roman, georgia, serif;
}

.eventsNumber {
    margin: 5px;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: blue;
}

.currentPointed {
    background-color: rgb(218, 220, 224);
    font-size: 1.1em;
}

.calendarDayHead {
    display: flex;
    flex: 1 100%;
    justify-content: center;
    align-items: flex-end;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    text-transform: uppercase;
}

#calendarHeader {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 50px;
    flex: 1 0 100%;
}

#calendarHeader>div {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    text-transform: uppercase;
}

#logo {
    width: 30%;
    background-image: url('https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/landing_page/template_background/21862/Capgemini_Spade_2COL_RGB.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

#title {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: white;
}

#currentDate {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 1.1em;
    color: white;
}