body {
    display: flex;
    flex-flow: wrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #adb7bd;
    height: 70px;
    flex: 1 0 100%;
}

aside {
    width: 300px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color:#adb7bd;
    padding: 10px;
    padding-top: 20px;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    text-transform: uppercase;
}

section {
    padding: 20px;
    flex: 1 0;
}

/* article#calendar {
} */

.calendarWeek {
    display: flex;
    /* flex: 1 100%; */
}

.calendarDay {
    height: 50px;
    margin: 5px;    
    display: flex;
    flex: 1 100%;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(218, 220, 224);
    font-family: times, Times New Roman, times-roman, georgia, serif;
}

#currentDay {
background-color: rgb(218, 220, 224);
font-size: 1.2em;
font-weight: bold;
}

.calendarDayHead {
    display: flex;
    flex: 1 100%;
    justify-content: center;
    align-items: flex-end;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    text-transform: uppercase;
}

#calendarHeader {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 50px;
    flex: 1 0 100%;
}

#calendarHeader > div {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    text-transform: uppercase;
}


#logo {
    width: 30%;
    background-image: url('https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/landing_page/template_background/21862/Capgemini_Spade_2COL_RGB.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

#title {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: white;
}

#currentDate {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 1.1em;
    color: white;
}